<!-- Starts skeleton tracking -->
<launch>
	<!-- Kinect driver -->
	<!--include file="$(find bk_launch)/launch/bringup_kinect.launch" /-->
  
  <!-- Node that drives the Kinect's pan platform and publishes its transform -->
	<node pkg="head_controller" type="head_driver" name="head_driver"
	output="screen" ns="head_controller" >
		<remap from="/pan_command" to="/head_controller/pan_command"/>
		<rosparam>
parent_tf_frame: "pan_link"
child_tf_frame: "camera_link"
pan_angle_center: 109.0
pan_angle_min: 0.0
pan_angle_max: 195.0
pan_vel_max: 50.0
pan_acc_max: 30.0
loop_rate: 20.0</rosparam>
	</node>
	
	<!-- Node that points the Kinect's pan platform at a target -->
	<node pkg="head_controller" type="point_head.py" name="point_head"
	output="screen" ns="head_controller" >
		<remap from="/target_pose" to="/person_tracker/goal_with_covariance"/>
		<!--remap from="/target_pose" to="/move_base_simple/goal"/-->
		<rosparam>rate: 3.0</rosparam>
	</node>
	
  <node pkg="bk_skeletal_tracker" type="tracker" name="bk_skeletal_tracker" output="screen">
    <param name="camera_frame_id" value="camera_depth_optical_frame" />
  </node>
</launch>
