<!-- Starts skeleton tracking -->
<launch>
	<!-- Kinect driver -->
	<!--include file="$(find bk_launch)/launch/bringup_kinect.launch" /-->
  
  <!-- Node that drives the Kinect's pan platform and publishes its transform -->
	<node pkg="head_controller" type="head_driver" name="head_driver"
	output="screen" ns="head_controller" >
		<remap from="/pan_command" to="/head_controller/pan_command"/>
		
		<param name="parent_tf_frame"  value="pan_link" />
		<param name="child_tf_frame"   value="camera_link"/>
		<param name="pan_angle_center" value="109.0"    />
		<param name="pan_angle_min"    value="0.0"      />
		<param name="pan_angle_max"    value="195.0"    />
		<param name="pan_vel_max"      value="100.0"     />
		<param name="pan_acc_max"      value="25.0"     />
		<param name="loop_rate"        value="30.0"     />
	</node>
	
	<!-- Node that points the Kinect's pan platform at a target -->
	<node pkg="head_controller" type="point_head.py" name="point_head"
	output="screen" ns="head_controller" >
		<remap from="/target_pose" to="/person_tracker/goal_with_covariance"/>
		<!--remap from="/target_pose" to="/move_base_simple/goal"/-->
		<param name="rate" value="30.0"/>
	</node>
	
  <node pkg="bk_skeletal_tracker" type="tracker" name="bk_skeletal_tracker" output="screen">
    <param name="camera_frame_id"  value="camera_depth_optical_frame" />
    <param name="smoothing_factor" value="0.85"/>
  </node>
</launch>
