<!-- Starts skeleton tracking -->
<launch>
	<!-- Kinect driver -->
	<include file="$(find bk_launch)/launch/bringup_kinect.launch" >
	</include>

  <node pkg="bk_openni_tracker" type="bk_openni_tracker" name="bk_openni_tracker" output="screen"  >
    <param name="camera_frame_id" value="/camera_depth_optical_frame" />
    <param name="tf_prefix" value="tracker" />
  </node>
  
  <node pkg="bk_skeletal_tracker" type="tracker" name="bk_skeletal_tracker" output="log"/>
</launch>
