<!-- Starts the OpenNI Kinect driver and sets up static transforms -->
<launch>
	<!-- Kinect driver -->
	<include file="$(find bk_launch)/launch/openni.launch" >
		<!--arg name="depth_frame_id" value="/camera/camera_depth_frame" /-->
		<!--arg name="rgb_frame_id" value="/camera/camera_rgb_frame" /-->
	</include>
	
	<param name="/camera/driver/depth_mode" value="8"/> <!-- QQVGA (160x120) 30Hz -->
	<param name="/camera/driver/data_skip" value="10"/>
	<param name="/camera/driver/depth_ir_offset_x" value="0.8"/>
	<param name="/camera/driver/depth_ir_offset_y" value="23.6"/>
	
	<!-- Image viewers -->
	<node pkg="image_view" type="image_view" name="depth_image_viewer">
		<remap from="image" to="/camera/depth/image_rect"/>
	</node>
	<!--node pkg="image_view" type="image_view" name="rgb_image_viewer">
		<remap from="image" to="/camera/rgb/image_rect_color"/>
	</node-->
	
	<!-- Create a downsampled version of the depth cloud -->
	<!--node pkg="pcl_decimator" type="pcl_decimator" name="pcl_decimator">
	</node-->
	
</launch>
