<!-- Starts skeleton tracking -->
<launch>
	<!-- Kinect driver -->
	<!--include file="$(find bk_launch)/launch/bringup_kinect.launch" /-->
	
	<!-- Node that tracks skeletons -->
  <node pkg="bk_skeletal_tracker" type="tracker" name="bk_skeletal_tracker" output="screen">
    <param name="camera_frame_id"  value="camera_depth_optical_frame" />
    <param name="smoothing_factor" value="0.85"/>
    <param name="pub_rate" value="5.0"/>
  </node>
</launch>
