<!-- Starts skeleton tracking -->
<launch>
	<!-- Kinect driver -->
	<!--include file="$(find bk_launch)/launch/bringup_kinect.launch" /-->
	
	<!-- Node that tracks skeletons -->
  <node pkg="bk_skeletal_tracker" type="tracker" name="bk_skeletal_tracker" output="screen">
    <param name="camera_frame_id"  value="camera_depth_optical_frame" />
    <param name="smoothing_factor" value="0.30"/>
    <param name="pub_rate" value="5.0"/>
    
    <param name="reliability" value="0.65"/>
    
    <param name="variance_xy" value="0.25"/>
    <!-- When publishing positions, use this variance -->
    
    <!-- User must be at least this far from camera -->
    <param name="min_dist" value="0.3"/>
    
    <!-- Tracker can be no more than this far away from user to associate -->
    <param name="association_dist" value="1.2"/> 
    
    <!-- Constraints on acceptable silhouette area of users -->
    <param name="min_area" value="0.1"/>
    <param name="max_area" value="0.9"/>
  </node>
</launch>
