<!-- Brings up the planner -->
<launch>
	<!--include file="($find precision_steering)/start_precision_steering.launch" /-->
	
	<!-- Setup the debugging prefix -->
	<arg name="debug" default="false"/>
	<arg if="$(arg debug)" name="launch_prefix" value="gdb -ex run -args"/>
	<!--arg if="$(arg debug)" name="launch_prefix" value="xterm -rv -e gdb -ex run -args"/-->
	<arg unless="$(arg debug)" name="launch_prefix" value=""/>

	<node pkg="bk_planner" type="bk_planner" respawn="false" name="bk_planner"
		output="screen" launch-prefix="$(arg launch_prefix)">
		
		<!-- Common costmap parameters (both global and local) -->
		<rosparam file="$(find bk_configs)/$(optenv ROBOT sim)/nav/costmap_common_params.yaml"
			command="load" ns="local_costmap"  />
		<rosparam file="$(find bk_configs)/$(optenv ROBOT sim)/nav/costmap_common_params.yaml"
			command="load" ns="global_costmap" />
		
		<!-- Costmap parameters specific to global or local -->
		<rosparam file="$(find bk_configs)/$(optenv ROBOT sim)/nav/costmap_local_params.yaml"
			command="load" ns="local_costmap"  />
		<rosparam file="$(find bk_configs)/$(optenv ROBOT sim)/nav/costmap_global_params.yaml" 
			command="load" ns="global_costmap" />
		
		<!-- Lattice planner parameters -->
		<rosparam file="$(find bk_configs)/common/nav/sbpl_global_params.yaml"
			command="load" ns="lattice_planner" />
		<!--param name="lattice_planner/primitive_filename" value="$(find bk_sbpl_lattice_planner)/mprim/unicycle_backturn.mprim" /-->
		<param name="lattice_planner/primitive_filename" value="$(find bk_sbpl_lattice_planner)/mprim/unicycle_gentleturns.mprim" />
		
		<!-- Path checker parameters -->
		<rosparam file="$(find bk_configs)/common/nav/path_checker_params.yaml"
			command="load" ns="path_checker" />
			
		<!-- Finally, parameters for the planner itself -->
		<rosparam file="$(find bk_configs)/common/nav/bk_planner_params.yaml"
			command="load" />
		
		<!-- Topic remappings -->
		<!--remap from="goal" to="/move_base_simple/goal" /-->
		<remap from="goal" to="/person_tracker/goal_cov" />
		<remap from="plan" to="plan" />
		<remap from="plan_visualization" to="plan_visualization" />
	</node>
	
</launch>
