<launch>
	<node pkg="rosbag" type="rosbag" name="rosbag" args="play $(find person_tracker)/bags/2012-01-28-12-12-00.bag --loop">
	</node>

	<!-- Image viewer -->
	<node pkg="image_view" type="image_view" name="depth_image_viewer" output="screen">
		<remap from="image" to="/camera/depth_registered/image_rect"/>
	</node>
</launch>
